.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1440px;
    min-height: 78px;
    background-color: #403C3B;
    border-bottom: 1px solid #FFFFFF;
}
.nav a{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #CFCFCF;
    text-decoration: none;
}
.nav a:focus{
    color: #FFFFFF;
    border-bottom: 2px solid #618967;
}
@media(max-width:800px){
    .nav{
        display: flex;
        flex-wrap: wrap;
    }
}
@media(max-width:580px){
    .nav{
        display: none;
    }
}