.button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 149px;
    height: 52px;
    background-color: #618967;
    border-radius: 15%;
    font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
margin-right: 10px;

}
.button__counter{
width: 20px;
height: 20px;
border-radius: 50%;
background-color: #FFFF;
}
.button__border{
    height: 20px;
    border-right: 1px solid white;
}