.contacts {
    width: 150px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;

}

.contacts__title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #CFCFCF;
}

.contacts__phone {
    color: #FFFF;
}
@media (max-width:660px){
    .contacts{
        display: none;
    }
}